<div class="card my-3" *ngIf="movie">
    <div class="card-body">
      <span class="badge bg-warning">
        id: {{movie.id}} name: {{movie.name}}
      </span>

      <div class="form-group">
        <label for="name"></label>
        <input type="text" [(ngModel)]="movie.name" class="form-control">
      </div>

      <div class="form-group">
        <label for="imageUrl"></label>
        <input type="text" [(ngModel)]="movie.imageUrl" class="form-control">
      </div>

      <div class="form-group">
        <label for="description"></label>
        <textarea class="form-control" [(ngModel)]="movie.description"></textarea>
      </div>
    <button type="button" (click)="save()" class="btn btn-primary btn-sm my-2">Save Changes</button>

    </div>
  </div>
