<div class="card">
  <div class="card-header">
    {{ title }}
  </div>
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let movie of movies"
      routerLink="/detail/{{movie.id}}"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <p>
        <span class="badge bg-primary rounded-pill">{{ movie.id }}</span>
        {{ movie.name }}
      </p>
      <button type="button" class="btn-close" aria-label="Close"></button>
    </li>
  </ul>
</div>
